#header1-a P {
  text-align: left;
}
#header1-a H1 {
  color: #27aae0;
}
#header1-a SPAN {
  color: #ffffff;
}
#msg-box4-f .mbr-header__text {
  color: #ffffff;
}
#msg-box4-f .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-f .mbr-article {
  color: #ffffff;
}
#msg-box4-f .mbr-article P {
  color: #ffffff;
}
#contacts1-l P {
  text-align: right;
}
