#header4-0 H1 {
  color: #2c82c9;
}
#header4-0 SPAN {
  color: #cccccc;
}
#header4-0 P {
  color: #3d8eb9;
}
#ext_menu-3 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-3.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-3 .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-3 .mbr-navbar__hamburger {
  color: #ffffff;
}
